//
// auth.scss
//

.bg-login {
  background: url("../images/bg-login.jpg");
  background-position: center;
  background-size: 100% 100% !important;
}

.bg-register {
  background: url("../images/bg-login.jpg");
  background-position: center;
  background-size: 100% 100% !important;
}